name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        # Install a specific version of uv.
        # version: "0.5.21"
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Set up Python
      run: uv python install 3.13

    - name: Install dependencies
      run: uv sync --frozen

    - name: Run Ruff Linting
      run: uv run ruff check .

    - name: Check Formatting with Ruff
      run: uv run ruff format --check .

    - name: Run tests
      run: uv run pytest
